@model IEnumerable<AppUser>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AppUser item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.UserName</td>
                </tr>
            }
        </tbody>
    </table>

